.onboard-section {
  background-color: var(--color-background-2);
  padding: 100px 0;
  .onboard-section--container {
    display: grid;
    @media (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
      column-gap: 100px;
      align-items: center;
    }

    @media (max-width: 767px) {
      grid-template-rows: auto auto;
      row-gap: 50px;
    }
    .onboard-section--container--illustration {
      @media (max-width: 767px) {
        display: flex;
        justify-content: center;
      }
      img {
        width: 100%;
      }
    }
    .onboard-section--container--content {
    }
  }
}
