.header-section {
  display: flex;
  justify-content: flex-start;
  padding-left: 5%;
  @media (max-width: 767px) {
    justify-content: center;
    padding-right: 0px;
  }
  padding-top: 20px;
  img {
    height: 36px;
    @media (max-width: 767px) {
      height: 30px;
    }
  }
}
