.key-section {
  background-color: var(--color-primary-1);
  color: var(--color-background-1);

  ::-moz-selection {
    background: var(--color-background-1);
    color: var(--color-foreground-1);
  }
  ::selection {
    background: var(--color-background-1);
    color: var(--color-foreground-1);
  }
  // margin: 50px 0;
  padding: 100px 100px;
  @media (max-width: 767px) {
    padding: 100px 0;
  }
  .key-section--container {
    display: grid;
    justify-content: center;
    @media (min-width: 768px) {
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 60px;
    }
    @media (max-width: 767px) {
      grid-auto-flow: row;
      row-gap: 60px;
    }
    img {
      height: 350px;
    }

    i {
      font-size: 2.5em;
      // color: var(--color-primary-1);
    }
  }
}

.key-sectiontile {
  display: grid;
  grid-auto-flow: row;
  align-content: flex-start;
  row-gap: 10px;

  .key-sectiontile--title {
    padding-bottom: 10px;
  }

  svg {
    color: var(--color-primary-1);
  }
}
