.feature-section {
  background-color: var(--color-background-1);
  margin: 100px 0;
  .feature-section--container {
    display: grid;
    grid-auto-flow: row;
    row-gap: 140px;
  }
}

.feature-sectiontile {
  display: grid;
  align-items: center;
  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }
  @media (max-width: 767px) {
    grid-template-rows: auto auto;
    row-gap: 20px;
  }

  .feature-sectiontile--illustration {
    img {
      width: 80%;
    }
  }

  .feature-sectiontile--content {
    display: grid;
    grid-auto-flow: row;
    row-gap: 16px;
  }
}
