@import url("https://fonts.googleapis.com/css?family=Roboto|Montserrat|Open+Sans|Open+Sans+Condensed:300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;0,700;1,400&display=swap");
@import "../node_modules/@fortawesome/fontawesome-free/css/all.min.css";

* {
  --color-header: #564f70;
  --color-footer: #2b2930;
  --color-primary-1: rgba(1, 169, 130, 0.9);
  --color-primary-2: rgba(1, 169, 130, 1);
  --color-secondary-1: #ffdb6a;
  --color-secondary-2: #ffde70;
  --color-default-1: #737373;
  --color-default-2: #7b7885;
  --metric-formelement-height: 40px;
  --metric-formelement-height-mobile: 36px;

  --color-background-1: rgba(255, 255, 255, 1);
  --color-background-2: rgba(245, 245, 245, 1);
  --color-background-3: rgba(242, 242, 242, 1);
  --color-background-4: rgba(238, 238, 238, 1);
  --color-background-5: rgba(234, 234, 234, 1);

  --color-foreground-1: #202225;
  --color-foreground-2: #292b2f;
  --color-foreground-3: #2f3136;
  --color-foreground-4: #2f3136;
  --color-foreground-5: #2f3136;
  ::-moz-selection {
    background: var(--color-primary-1);
    color: var(--color-background-1);
  }
  ::selection {
    background: var(--color-primary-1);
    color: var(--color-background-1);
  }

  margin: 0;
  padding: 0;
  line-height: normal;
  font-family: "Open Sans", sans-serif;
  word-break: break-word;

  .space-bottom-1 {
    margin-bottom: 1.45rem;
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: "Bitter", serif;
  }

  .heading--1 {
    font-size: 2.75em;
    @media (max-width: 767px) {
      font-size: 1.75em;
    }
  }

  .heading--2 {
    font-size: 1.75em;
    @media (max-width: 767px) {
      font-size: 1.25em;
    }
  }

  .heading--3 {
    font-size: 1.25em;
    @media (max-width: 767px) {
      font-size: 1em;
    }
  }

  .column-layout {
    width: 95%;
    margin: auto;
    @media (max-width: 767px) {
      width: 90%;
    }
  }

  .mobile-only {
    @media (min-width: 768px) {
      display: none !important;
    }
  }
  .desktop-only {
    @media (max-width: 767px) {
      display: none !important;
    }
  }
}
